<div class="col-md-6" id="picture">
  <h2>{{#link-to 'category' category.id}} {{category.categoryname}}{{/link-to}}</h2> by {{category.author}}
  <ul>
    <li>
      <h4>
      {{category.question}}</h4>
    </li>
  </ul>

</div>
{{answer.content}} by {{answer.author}}
