{{#if addNewCategory}}
  <h1>More Questions</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="question">Question</label>
        {{input value=question id="question"}}
      </div>

      <div class="form-group">
        <label for="user">Author</label>
        {{input value=author id="author"}}
      </div>
      <button {{action 'saveCategory1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'categoryFormShow'}}>New question</button>
{{/if}}
